.switch-description {
    font-family: Helvetica;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    cursor: pointer;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 52px;
    height: 22px;
    margin: 0 10px 10px 0;
    border-radius: 20px;
    cursor: pointer;
}

.switch-input {
    position: absolute;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    border-radius: inherit;
    /*Will swap out for symbols  */
    font-size: 9px;
    text-transform: uppercase;
    font-family: Helvetica;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 2px;
    -webkit-transition: inherit;
    transition: inherit;
}

.switch-label:before {
    content: attr(data-off);
    right: 8px;
    color: #fff;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    opacity: 0;
}

.switch-input:checked ~ .switch-label {
    background: #48C258;
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 2px;
    left: 2px;
    background: #fff;
}

.switch-label,
.switch-handle {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.switch-label {
    background: #C3C7C7;
}

.switch-label:after {
    color: #fff;
}

.switch-flat .switch-input:checked ~ .switch-label {
    background: #48C258;
}

.switch-input:checked ~ .switch-handle {
    transform: translate3d(30px, 0, 0);
    background: #ffffff;
    box-shadow: none;
}